.select {
    cursor: pointer;
}

.dropdownIndicator {
    transition: transform 0.3s ease-in-out !important;
    color: #515151;
}

.dropdownIndicatorFocused {
    transform: rotate(180deg) !important;
}

.selectControl {
    cursor: pointer !important;
}

.selectOption {
    cursor: pointer !important;
}

.selectMenu {
    z-index: 200 !important;
}
