.select {
    cursor: pointer;
}

.dropdownIndicator {
    transition: transform 0.3s ease-in-out !important;
    color: #515151;
}

.dropdownIndicatorFocused {
    transform: rotate(180deg) scaleX(1.05) translateY(2px) !important;
}

.selectControl {
    cursor: pointer !important;
}

.selectOption {
    cursor: pointer !important;
}

.selectMenu {
    z-index: 200 !important;
}

.selectMenuList::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 60px;
}

.selectMenuList::-webkit-scrollbar-track {
    border-radius: 20px;
}

.selectMenuList::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
