.title {
    font-size: 21px;
    align-self: center;
    height: auto;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Concert One', 'Monstserrat', sans-serif;
    padding: 10px 30px 18px;
}
