.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 400;
}

.font-semibold {
    font-weight: 500;
}

.font-bold {
    font-weight: bold;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex-1 {
    flex: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-hidden {;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}
