.button {
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonDisabled {
    border: 1px solid #A0A0A0;
    background-color: transparent;
    cursor: default;
}

.buttonDisabled * {
    color: #BEBEBE !important;
}

.buttonPrimary {
    background-color: #53326C;
}

.buttonPrimary:hover {
    background-color: #643d80;
}

.buttonPrimary:active {
    background-color: #784c98;
}

.buttonIcon {
    background-color: transparent;
    border: none;
    outline: none;
}

.buttonOutlinedDefault {
    border: 1px solid #515151;
    background-color: transparent;
}

.buttonOutlinedDefault:hover {
    border: 1px solid #7c7c7c;
    background-color: #E2E8F005;
}

.buttonOutlinedDefault:active {
    border: 1px solid #9f9f9f;
    background-color: #E2E8F010;
}
