.icon {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flipIcon svg {
    transform: scale(-1, 1)
}
