.sideBar {
    flex-direction: column;
    z-index: 1000;
    height: 100%;
    width: 56px;
    position: fixed;
    box-shadow: 4px 4px 6px 6px rgba(191, 191, 191, 0.25);
    border-radius: 0 0 8px 0;
    padding-top: 56px;
}
